* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  background-color: aliceblue;
  /* border-top: #1098ad 10px solid; */
  /* position: relative; */
}

.container {
  width: 1200px;
  background-color: white;
  margin: 0 auto;
}

p {
  line-height: 30px;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 55px;
}

footer ul {
  background-color: white;
  /* display: ; */
  
  /* display: block; */
  text-align: center;
  align-items: center;
  text-decoration: none;

  margin-bottom: 55px;
}
li a {
  /* display: block; */
  background-color: rgba(0, 0, 255, 0.589);
  margin: 20px 10px;
  padding: 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  color: aliceblue;
}

li {
  list-style: none;
  display: inline-block;
  padding: 20px 10px;
  margin: 10 20px;
  margin-left: 35px;
  cursor: pointer;
  padding-top: 25px;
}

.about_me a {
  color: white;
  background-color: rgba(0, 0, 255, 0.589);
  padding: 10px;
  text-decoration: none;
}
.head {
  margin-bottom: 20px;
}
.pt10 {
  padding: 10px;
  font-weight: 600;
  /* font-size: ; */
  letter-spacing: 0.5px;
}
/* img */
.f_left {
  margin: 20 30px;
  float: left;
}

.f_left::after {
  content: "";
  display: block;
  clear: both;
}
.My_img {
  height: 200px;
  width: 200px;
}
.My_img::after{
  content: "";
  display: block;
  clear: both;
}
.f-right {
  float: left;
  margin-left: 100px;
}
.f-right::after{
  content: "";
  display: block;
  clear: both;
}

main::after{
  content: "";
  display: block;
  clear: both;
}

/* .d_inline p{
  display: inline;
} */

.dark {
  /* display: inline-block; */
  font-weight: 600;
  margin-right: 50px;
  float: left;
}
.light {
  font-weight: 100;
  float: left;
  /* text-align: left; */
  margin-left: 100px;
}
.light::after {
  content: "";
  display: block;
  clear: both;
}
.story {
  display: inline-block;
}
.story::after {
  content: "";
  display: block;
  clear: both;
}
.heading {
  margin-top: 100px;
  padding-bottom: 30px;
  padding: 0;
}

.pb {
  padding-bottom: 10px;
}
.footer::after{
  content: "";
  display: block;
  clear: both;
}